body{
    margin:0%;
    padding:0%;
    background-color: black;
    
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:  Georgia, Times, 'Times New Roman', serif, sans-serif;

}
.timecontainer{
    color: blanchedalmond;
    font-weight: bolder;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-20%);
    font-size: larger;
    
}
.weathercontainer{
    background-color: #7a7265;
    color: blanchedalmond;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-20%);
    font-size: larger;
    border-style: solid ;
    border-width: medium;
    border-color: maroon;
    border-radius: 20px;
    padding: 2% 2% 15% 2%;
    backdrop-filter: blur(7px);
    text-align: center;
    max-height: 25px;



}



#hourly-forecast{
    margin-top: 15%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
    min-width: 200px;
}
h1, label, p{
        color: #c0c0c0;
        margin: 8px 0;
}